.js-product-price,
.t-store__prod-popup__price-currency {
    font-size: var(--priceFS) !important;
    letter-spacing: var(--letSp) !important;
    color: var(--titleC) !important;
    line-height: 110% !important;
    font-weight: 400 !important;
}
