.js-store-prod-name {
    font-size: var(--titleFS) !important;
    letter-spacing: var(--letSp) !important;
    color: var(--titleC) !important;
    line-height: 110% !important;
    font-weight: 400 !important;
}
