:root {
    // цвета глобальные
    --pink: #968ac1;
    --linkC: rgba(41, 41, 41, 0.3);
    --textC: rgba(41, 41, 41, 0.5);
    --greenC: #b3d334;
    --titleC: #333333;
    --artC: rgba(51, 51, 51, 0.3);
    --hoverC: #968ac1;

    // размеры глобальные
    --textFS: 14px;
    --priceFS: 24px;
    --titleFS: 28px;
    --accTitleFS: 16px;
    --letSp: -0.05em;

    // кнопки size
    --sizeBC: #e6e6e6;
    --sizeP: 18.5px 28px;
    --sizePMob: 13.5px 20.7px;
    --sizeBR: 180px;
}
